.about-us__title {
  .title;
}

.about-us__list {
  .reset-list;
}

.about-us__item {
  padding: 50px 0 30px;

  .opensans;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: @black;

  background-repeat: no-repeat;

  &--eco {
    background-image: url("../../img/icon-feature-flower.svg");
  }

  &--scandinavian {
    background-image: url("../../img/icon-feature-money.svg");
  }

  &--like {
    background-image: url("../../img/icon-feature-heart.svg");
  }

  &--handmade {
    background-image: url("../../img/icon-feature-ball.svg");
  }

  &--native {
    background-image: url("../../img/icon-feature-rocket.svg");
  }

  &--box {
    background-image: url("../../img/icon-feature-gift.svg");
  }
}
