.actual__title {
  .title;
}

.actual__mark {
  .opensans;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: @seafoam-blue;
}

.actual__description {
  .opensans;
  font-size: 15px;
  line-height: 24px;
  color: @grey-text;
}

.actual__info {
  .opensans;
  font-size: 15px;
  line-height: 20px;
  color: @grey-text;
}

.actual__price {
  .opensans;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  color: @grey-text;
}

.actual__order-button {
  .button;
}
