.actual {
  position: relative;

  box-sizing: border-box;
  width: @mobile-width;
  padding: 0 30px 40px 30px;

  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 6px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-position: center;
    background-size: contain;
    background-repeat: repeat-x;
  }
}

.actual__title {
  margin: 28px 0 5px;

  .title;
}

.actual__mark {
  margin: 0;

  .opensans;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  color: @seafoam-blue;
}

.actual__description {
  margin: 21px 0 17px;
  .opensans;
  font-size: 15px;
  line-height: 24px;
  color: @grey-text;
}

.actual__info {
  width: 260px;
  margin-bottom: 28px;

  border-collapse: collapse;

  .opensans;
  font-size: 15px;
  line-height: 20px;
  color: @grey-text;

  td {
    padding: 10px 0;
    border-bottom: 1px solid @grey-borders;
  }
}

.actual__option {
  width: 98px;
}

.actual__price {
  margin: 20px 0 25px;
  .opensans;
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  color: @grey-text;
}

@media (min-width: @tablet-width) {
  .actual {
    position: relative;

    width: 668px;
    padding: 0;
    padding-bottom: 68px;

    &::after {
      left: -50px;

      width: @tablet-width;
      height: 18px;
      background-position: -60px;
    }
  }

  .actual__title {
    margin: 48px 0;

    font-size: 43px;
    line-height: 50px;
  }

  .actual__mark {
    position: absolute;
    top: 10px;
    right: 21px;

    width: 82px;

    line-height: 17px;
    text-align: center;
  }

  .actual__description {
    width: 290px;
    margin-bottom: 33px;

    font-size: 17px;
    line-height: 30px;
  }

  .actual__info {
    width: 290px;
    margin-bottom: 55px;
  }

  .actual__image {
    position: absolute;
    top: 105px;
    right: 0;

    width: 333px;
    height: 404px;
  }

  .actual__price {
    width: 290px;
    margin-bottom: 35px;

    font-size: 20px;
  }

  .actual__order-button {
    width: 290px;
  }
}

@media (min-width: @desktop-width) {
  .actual {
    width: 1050px;
    padding-left: 175px;
    padding-bottom: 92px;

    &::after {
      left: 0;

      width: 1050px;
      height: 23px;
      background-position: -28px;
    }
  }

  .actual__title {
    margin-top: 120px;

    font-size: 53px;
    line-height: 57px;
  }

  .actual__mark {
    position: absolute;
    top: 15px;
    left: 42px;
  }

  .actual__description {
    margin-bottom: 48px;
  }

  .actual__info {
    margin-bottom: 108px;
  }

  .actual__image {
    top: -50px;
    z-index: -1;

    width: 525px;
    height: 636px;
  }
}
