.copyright {
  padding-top: 22px;

  text-align: center;

  border-top: 1px solid #e5e5e5;
}

.copyright__text {
  .opensans;
  font-size: 19px;
  font-weight: bold;
  line-height: 19px;
  color: @black;
}

.copyright__link {
  display: inline-block;
  vertical-align: middle;

  width: 27px;
  height: 34px;
  margin-left: 25px;

  background-image: url("./../img/htmlacademy.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: @tablet-width) {
  .copyright {
    padding: 0;
    border: 0;
  }
}
