.copyright {
  padding-top: 22px;

  text-align: center;

  border-top: 1px solid #e5e5e5;
}

.copyright__link {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: 182px;
  margin: 0 auto;

  .opensans;
  font-size: 19px;
  font-weight: bold;
  line-height: 19px;
  color: @black;
  text-decoration: none;

  &:hover .copyright__image {
    fill: @aqua-marine-two;
  }

  &:active,
  &:focus {
    opacity: 0.3;
    outline: none;

    .copyright__image {
      fill: @aqua-marine-two;
    }
  }
}

.copyright__image {
  margin-left: auto;
  fill: @seafoam-blue;
}

@media (min-width: @tablet-width) {
  .copyright {
    padding: 0;
    border: 0;
  }
}
