.page-footer {
  min-width: @mobile-width;
  padding: 25px 0;

  background-color: @very-light-pink;
  overflow: hidden;
}

.page-footer__wrapper {
  width: 260px;
  margin: 0 auto;
}

.page-footer__logo {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-footer {
    padding: 54px 0;
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 668px;
  }

  .page-footer__logo {
    display: block;

    margin-right: 80px;
    padding-bottom: 5px;

    &[href]:hover {
      .page-footer__logo-image {
        fill: @aqua-marine-two;
      }
    }

    &[href]:active,
    &[href]:focus {
      opacity: 0.3;
      outline: none;

      .page-footer__logo-image {
        fill: @aqua-marine-two;
      }
    }
  }
}

@media (min-width: @desktop-width) {
  .page-footer__wrapper {
    width: 1050px;
  }
}
