.social__list {
  display: flex;
  justify-content: space-between;

  .reset-list;
  width: 146px;
  margin: 0 auto;
  padding-bottom: 25px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  background-position: center left;
  background-repeat: no-repeat;

  svg {
    fill: #231f20;
  }

  &--ig svg {
    margin-right: auto;
  }

  &--fb svg {
    margin: 0 3px 2px 0;
  }

  &:hover svg {
    fill: @aqua-marine-two;
  }

  &:active,
  &:focus {
    outline: none;

    svg {
      fill: @aqua-marine-two;
      opacity: 0.3;
    }
  }
}

@media (min-width: @tablet-width) {
  .social__list {
    padding: 0;
  }
}
