.social__list {
  display: flex;
  justify-content: space-between;

  .reset-list;
  width: 146px;
  margin: 0 auto;
  padding-bottom: 25px;
}

.social__link {
  display: block;

  width: 30px;
  height: 30px;

  background-position: center left;
  background-repeat: no-repeat;

  &--ig {
    background-image: url("./../img/icon-insta.svg");
    background-size: 22px 21px;
  }

  &--fb {
    background-image: url("./../img/icon-fb.svg");
    background-size: 15px 28px;
    background-position: top left 5px;
  }

  &--tw {
    background-image: url("./../img/icon-twitter.svg");
    background-size: 23px 20px;
  }
}

@media (min-width: @tablet-width) {
  .social__list {
    padding: 0;
  }
}
